

.produtos {
    width: 90vw;
    margin: 2rem auto;
    font-family: 'Roboto', sans-serif;
}

.carroseul__container{
    position: relative;
    width: 100%;   
    margin: auto;
}
.produtos__container{
    margin: auto;
    width: 95%;
    overflow: auto;
}

.produtos__container::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}


.produtos__container::-webkit-scrollbar {
    height: 0;
    background: #414141;
    color: white;
    border-radius: 10px;
    background-size: calc(200% + 4rem);
}

.proximo-item{
    position: absolute;
    top: 25px;
    height: 308px;
    width: 30px;
    font-size: large;
    font-weight: bold;
    opacity: 0.2;
    border: none;
    outline: none;
    color: white;
}

.proximo-item:hover{
    opacity: 0.4;
}

.proximo-esquerda{
    left: 0;
    background: linear-gradient(to right, #333 30%, white );
}


.proximo-direita{
    right: -1px;
    background: linear-gradient(to left, #333 30%, white );
}

.brinquedos {
    width: 2400px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    min-height: 360px;
    margin: 0 auto;
}

.brinquedo {
    background-color: #fff;
    padding: 20px;
    box-shadow: 1px 2px 12px #00000033;
    margin-left: 28px;
    cursor: pointer;
    width: 230px;
}

.brinquedo__link{
    color: black;
}

.brinquedo__titulo{
    font-size: 1.4rem;
    
}

.brinquedo:hover{
    transform: scale(1.01);
}

.brinquedo:first-child {
    margin-left: 0;
}


.brinquedo__img {
    width: 100%;
    
}

.brinquedo__caracteristica {
    margin: .5rem;
    margin-right: .1rem;
    color: #193F54;
    line-height: 16px;
}

.brinquedo__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brinquedo__preco:before{
    content: 'R$ ';
}

.brinquedo__preco {
    color: #57F520;
    font-size: 1.6rem;
    font-weight: bold;
}

.brinquedo__botao {
    border: none;
    background: transparent;

}

.bi-plus-circle {
    background: #57F520;
    border-radius: 50%;
    color: white;
    stroke: 2px black;
    transition: .3s all ease-in-out;
}

.bi-plus-circle:hover {
    background: #48bd21;
}



.promocao-redirecionar{
    background: linear-gradient(#5a5a5a , #d1d1d1 15% ,#d1d1d1 85% , #5a5a5a);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0 8rem;
}

.promocao-redirecionar__imagem{
    height: 300px;
}