*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


:root{
    font-size: 14px;
}

ul {
    list-style: none;
}

a, a:hover, a:active{
    text-decoration: none;
}

body{
    animation: movimento 50s ease-in-out infinite alternate;
    background: linear-gradient(45deg, #1b0c5c,#4a0909 ,#0c0c42,#063a18,#3c103c , #345550 , #641e0b, #62280e );
    background-size: 400%;
    padding-top: 8rem;
}

.conteudo{
    width: 100%;
    padding: 2rem 0;
}


@keyframes movimento{
    0%{
        background-position: 0%;
    }
    50%{
        background-position: 60%;
    }
    100%{background-position: 100%;}
}


.titulo__principal {
    font-size: 2rem;
    font-weight: 300;
    margin: 3rem auto;
    color: #eee;
    width: 80%;
    border-radius: 20px;
}
